
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>@ViewData["Title"]</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/CommonStyle.css">
        <link rel="stylesheet" type="text/css" href="~/MainWeb/css/site.css">
        <link rel="stylesheet" type="text/css" href="~/MainWeb/css/ModalAuthorized.css">
        <link rel="stylesheet" type="text/css" href="~/MainWeb/css/projectModal.css">   
        @await RenderSectionAsync("link",required:false)  
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header_inner">
                    <div>
                        <button class="menu-open-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <a href="~/Main" class="logotype">WebSites</a>
                        <ul class="menu-navigation">
                            @await RenderSectionAsync("pages",required:true)
                        </ul>
                    </div>
                    @if(User.Identity!.IsAuthenticated)
                    {
                        <ul class="header-profile-navigation-panel">
                            <li class="nav-item">
                                <a class="user-add-project" href="~/Profile?Page=addproject">Добавить проект</a>
                            </li>
                            <li class="nav-item">
                                <button class="user-avatar" href="#">
                                    <img src="" class="user-avatar_img" width="25" height="25" alt="avatar">
                                </button>
                            </li>
                        </ul>
                    }
                    else{
                    <ul class="sign-navigation">
                        <li class="sign-navigantion-item">
                            <button class="sign-in">Вход</button>
                        </li>
                        <li class="sign-navigantion-item">
                            <button class="register">Регистрация</button>
                        </li>
                    </ul>
                    }
                </div>
            </div>
        </header>
        <ul class="menu-navigation">
            <li>
                <button id="menu-close-icon">
                    <span></span>
                    <span></span>
                </button>
            </li>
            <li>
                <a class="user-add-project" href="~/Profile?Page=addproject">Добавить проект</a>
            </li>
            <ul>
                <li class="menu-nav-item">
                    <a href="~/Main">Главная</a>
                </li> 
                <li class="menu-nav-item">
                    <a href="~/Profile">Профиль</a>
                </li> 
            </ul>
            
            @if(!User.Identity!.IsAuthenticated){
            <li>
                <button class="sign-in">Вход</button>
            </li>
            <li>
                <button class="register">Регистрация</button>
            </li>
            }
        </ul>
        <main class="content-gener">      
            @RenderBody()
        </main>
        
        @*-----ModalWindow----*@
        <div class="pop-up-authorized" style="visibility:hidden;opacity:0;">
            <div class="pop-up-login__inner" style="visibility: hidden;opacity:0;">
                <button type="button" class="close-button-modal-login"><i class="ic-close-ic"></i></button>
                <div class="login-label">Войти в аккаунт</div>
                <div class="form-post">
                    <div class="form-post-item">
                        <label>Логин</label>
                        <input type="text" class="input-text" id="login"/>
                    </div>
                    <div class="form-post-item">
                        <label>Пароль</label>
                        <input type="password" class="input-text" id="password"/>
                    </div>
                    <div class="form-post-item remember"> 
                        <div>
                            <input type="checkbox"id="remember" class="input-checkbox"/>
                            <label>Запомнить меня</label>
                        </div> 
                        <button type="button" class="transition-registr" id="login-modal">Не зарегестрированы?</button>
                    </div>
                    <div class="errors-message_inner" id="login-error">

                    </div>                 
                </div>
                <button type="button" class="post-data-login">Войти</button>
            </div>
            <div class="pop-up-register__inner" style="visibility: hidden;opacity:0;">
                <button type="button" class="close-button-modal-login"><i class="ic-close-ic"></i></button>
                <div class="login-label">Регистрация</div>
                <div class="form-post" id="form-register">
                    <div class="form-post-item">
                        <label>Логин</label>
                        <input type="text" name="login" class="input-text" id="login-reg"/>
                    </div>
                    <div class="form-post-item">
                        <label>Почта</label>
                        <input type="text" name="email" class="input-text" id="email"/>
                    </div>
                    <div class="form-post-item">
                        <label>Пароль</label>
                        <input type="password" name="password" class="input-text" id="password-reg"/>
                    </div>
                    <div class="form-post-item remember-reg">
                        <div>
                            <input type="checkbox" id="remember-reg" name="rememberme" class="input-checkbox"/>
                            <label>Запомнить меня</label>
                        </div>
                        <button type="button" class="transition-registr" id="register-modal">Уже есть аккаунт?</button>
                    </div> 
                    <div class="errors-message_inner" id="register-errors">

                    </div>             
                </div>
                <button type="button" class="post-data-register">Зарегестрироваться</button>
            </div>
        </div>
        <div class="pop-up-load-anim_inner">
            <div class="pop-up-load-anim">
                <img src="~/MainWeb/Images/spinner.gif" id="load-animation-authorize">
            </div>
        </div>
        <div class="notification-window">
            <img src="~/MainWeb/Images/success.svg" id="notification-image" alt="img" width="30" height="30">
            <div class="message-notification"></div>
        </div>
        <div class="modal-project-info">
            <button class="close-modal">
                <div>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="project-info" id="project-content"></div>
            <div class="load-animation"></div>
        </div>
        <div class="brightness"></div>
        @if(User.Identity.IsAuthenticated)
        {
        <div class="main-avatar-menu_inner">
            <div class="avatar-menu_container">
                <div class="avatar-menu">
                    <ul class="avatar-menu-items">
                        <li>
                            <a href="~/Profile">
                                <img src="" class="user-avatar_img" alt="avatar" width="50" height="50">
                            </a> 
                            <div>@User.Identity.Name</div>
                            <span id="set-email"></span>
                        </li>
                        <li>
                            <ul class="menu-avatar-navigation">
                                <li>
                                    <a href="~/Profile">Профиль</a>
                                </li>
                                <li>
                                    <a href="~/Profile?Page=settings">Настройки</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button id="logout">Выйти</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        }

        @*--------------------*@

        <footer>
            
        </footer>


        @*-----Scripts-----*@

        <script src="~/lib/jquery/dist/jquery.min.js" type="application/javascript" asp-append-version="true"></script>
        <script src="~/MainWeb/js/site.js" type="application/javascript" asp-append-version="true"></script>       
        <script src="~/MainWeb/js/AuthorizeScript.js" type="application/javascript" asp-append-version="true"></script>

        <script>
            @if(User.Identity!.IsAuthenticated){
                @:InitAuthorizeScript();
                //@:CheckAuthorize();
                @:GetUserInfo();
            }
        </script>
        @await RenderSectionAsync("Scripts", required: false)
        
        @*------------------*@
    </body>
</html>
