header{
    width: 100%;
    background-color: white;
    height: 68px;
    position: fixed;
    z-index: 50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-repeat: repeat-y;
    overflow-x: hidden;
    position: relative;
}
.container{
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}
.content-gener{
    padding-top: 70px;
}
.notification-window{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    font-size: 18px;
    transition: all .5s;
}

/*--------Header---------*/
.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 68px;
}
.logotype{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 0 10px;
}
.menu-navigation{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 15px;
}
.menu-nav-item{
    font-size: 17px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-navigation .active{
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}
.menu-nav-item:hover{
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}
.sign-navigation{
    display: flex;
    gap: 10px;
    align-items:center;
}
.sign-navigantion-item button{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 20px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color .3s;
}
.register{
    background-color: var(--button-color);
    color: var(--main-text-color);
}
.register:hover{
    background-color: #003ECB;
}
.sign-in:hover{
    background-color: #F1F1F1;
}
.header-profile-navigation-panel{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-profile-navigation-panel .nav-item{
    display: flex;
}
.user-add-project{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 15px;
    transition: all .3s;
}
.user-add-project:hover{
   
    border: 1px solid var(--button-color);
}

.user-avatar img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 35px;
    height: 35px;
    transition: all .3s;
}
.user-avatar img:hover{
    outline: 1px solid var(--button-color);
}
.main-avatar-menu_inner{
    position: fixed;
    top:10px;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    z-index:40;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    padding: 0 10px;
}
.avatar-menu_container{
   margin: 70px 0;
   max-width: 1700px;
   height: 100vh;
   width: 100%;
   position: relative;
}
.avatar-menu{
    position: absolute;
    top:0;
    right:0;
    width: 350px;
    background-color: white;
    padding: 10px 24px;
    border-radius: 5px;
}
.active-menu{
    opacity: 1;
    visibility: visible;
}
.avatar-menu-items{
    display: flex;
    flex-direction: column;
}
.avatar-menu-items>li{
    padding: 10px 0;
}

.avatar-menu-items>li:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.avatar-menu-items>li:nth-child(1)>div{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.avatar-menu-items>li:nth-child(1)>span{
    font-size: 15px;
    color: #888;
}

.avatar-menu-items>li:nth-child(1) a img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.7);
    transition: all 1;
}
.avatar-menu-items>li:nth-child(1) a img:hover{
    outline: 1px solid var(--button-color);
}
.avatar-menu-items>li:nth-child(2){
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.menu-avatar-navigation{
    display: flex;
    flex-direction: column;
}
.menu-avatar-navigation li{
    padding:5px;
    border-radius: 5px;
}
.menu-avatar-navigation li a{
    font-size: 15px;
}
.menu-avatar-navigation li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.avatar-menu-items>li:nth-child(3) button{
    padding: 5px;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    font-family: inherit;
    font-size: 15px;
}
.avatar-menu-items>li:nth-child(3) button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/*-----EndHeader-----*/


/*-----Adaptive------*/

