
section{
    padding: 20px 0;
}
.search-panel_inner{
    width: 100%;
    display: flex;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.17);
    align-items: center;
    background-color: whitesmoke;
    overflow: hidden;
}
.search-input-panel{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 20px;
}
.search-input-panel input{
    height: 100%;
    border: none;
    width: 100%;
    background-color: whitesmoke;
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    border-right: 1px solid rgba(0,0,0,0.17);
}
.search-filter-panel{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 25px;
    background-color: white;
    height: 100%; 
}
.filter-button{
   font-family: inherit;
   font-size: 15px;
   letter-spacing: 1px;
   padding: 5px 10px;
   border-radius: 20px;
}
.search-filter-item .active{
    background-color:#191919;
    color: white;
}
.filter-button:not(.active):hover{
    background-color: rgba(0,0,0,0.17);
}
.sorting-panel{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list-down-sorting-panel{
    position: relative;
}
.sorting-button{
    display: flex;
    justify-content: flex-end;
    color: black,initial;
    position: relative;
    min-width: 240px;
}
.sorting-button>div{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}
.sorting-button>div>span{
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 1px;
    font-weight:500;
    color: #888;
    transition: all .3s;
}
.sorting-button_inner{
    display: flex;
    gap: 20px;
    align-items: center;
}
.sorting-button_inner>div{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s;
}
.sorting-button_inner>span{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
    transform: rotate(180deg);
    transition: all .3s;
}
.sorting-button:hover>span{
    color: black;
}
.list-down-sorting-panel .listdown-block{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    min-width: 240px;
    top:60px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.7);
    transition: all .3s;
    z-index: 50;
}
.list-down-sorting-panel .listdown-block>button{
    font-size: 17px;
    text-align: left;
    transition: all .3s;
    padding: 7px 0;
    font-family:Segoe Ui;
    color: #888;
}
.list-down-sorting-panel .listdown-block>button:hover{
    color: var(--button-color);
}
.disabled-listdown{
    visibility: hidden;
    opacity: 0;
}
.search-panel{
   border-bottom: 1px solid rgba(0,0,0,0.17);
}
.projects-blocks_inner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projects-blocks_inner .project-block{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.projects-blocks_inner .project-block .project-image:hover{
    transform: scale(1.02);
}
.projects-blocks_inner .project-block .project-image img{
    border-radius: 4px;
    object-fit: cover;
    width: 400px;
    height: 250px;
    object-position: center center;
}
.projects-blocks_inner .project-block .project-image{
    position: relative;
    transition: all .3s;
}
.projects-blocks_inner .project-block .project-image>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3px);
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 37%, rgba(0,0,0,0.8) 100%);
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.projects-blocks_inner .project-block .project-image>div a{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.projects-blocks_inner .project-block .project-image>div a:hover{
    text-decoration: underline;
}
.projects-blocks_inner .project-block .project-info{
    display: flex;
    justify-content: space-between;
}
.project-name-user{
    display: flex;
    gap: 8px;
    align-items: center;
}
.project-name-user img{
    object-fit:cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.project-name-user>a{
    font-size: 15px;
    color:black;
    text-align: left;
}
.project-name-user>a:hover{
    text-decoration: underline;
}
.projects-blocks_inner .project-block .project-info>ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
.projects-blocks_inner .project-block .project-info>ul li:nth-child(1) img{
    width: 17px;
    height: 17px;
}
.projects-blocks_inner .project-block .project-info>ul li{
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 15px;
    color: #888;
}
.list-down-filters-panel{
    display: flex;
    gap: 15px;
}
.list-down-filters-panel>li{
    position: relative;
}
.list-down-filters-button{
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px 10px;
    border-radius: 4px;
    outline: 1px solid rgba(136, 136, 136, 0.4);
    transition: all .3s;
    min-width: 170px;
    position: relative;
}
.list-down-filters-button:hover{
    outline:1px solid #888;
}
.list-down-filters-button>span{
    font-family: 'RaleWay';
    font-weight: 500;
    transition: all .3s;
    font-size: 17px;
    padding-right: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.list-down-filters-button>img{
    width: 25px;
    height: 25px;
}
.list-down-filters-button>div{
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid black;
    transform: rotate(180deg);
    margin: 0 3px;
    transition: all .3s;
    position: absolute;
    transform: translate(-50% -50%);
    right: 10px;
    top: 47%;
    background-color: white;
}
.list-down-filters-block{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    min-width: 200px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    top:60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.7);
    transition: all .3s;
    z-index: 50;
}
.list-down-filters-block::-webkit-scrollbar{
    width: 5px;
}
.list-down-filters-block::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 20px;
    border: 1px solid #888;
}
.list-down-filters-block::-webkit-scrollbar-track{
    background-color: rgba(136, 136, 136, 0.164);
}
.list-down-filters-block>span{
    font-size: 15px;
    color: #888;
    letter-spacing: 1px;
    padding:5px 10px;
}
.list-down-filters-block>li{
    padding: 4px 10px;
    border-radius: 5px;
}
.list-down-filters-block>li:hover{
    background-color: var(--button-color);
}
.list-down-filters-block>li>button{
    height: min-content;
    font-size: 15px;
    font-family: Segoe Ui;
    font-weight: 500;
    transition: all .3s;
    width: 100%;
    text-align: left;
}
.list-down-filters-block>li:hover>button{
    color: white;
}
.active-span-list-down{
    color: var(--button-color);
    transform: translateY(-20px);
    background-color: white;
    padding: 0 5px;
    position: absolute;
    z-index: 50;
}
.user-profile-block{
    min-width: 300px;
    min-height: 270px;
    width: 19%;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--default-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 20px;
    transition: all .3s;
    position: relative;
}
.user-profile-block:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.2);;
}
.user-profile-block:hover .user-profile-info{
    opacity: 0;
    visibility: hidden;
    display: none;
}
.user-profile-block:hover .subscribe-button{
    position: relative;
    visibility: visible;
    opacity: 1;
}
.user-profile-avatar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.user-profile-avatar>object>a>img{
    border-radius: 50px;
    border: 4px solid white;
    object-fit: cover;
    object-position: center;
    width: 90px;
    height: 90px;
    box-shadow: var(--default-shadow);
}
.user-profile-avatar>object>a>img:hover{
    filter: brightness(80%);
}
.user-profile-avatar .user-name{
    font-size: 19px;
    letter-spacing: 0.7px;
}
.user-profile-avatar .profession{
    font-size: 16px;
    color: #888;
    font-weight: 300;
}

.user-profile-info{
    display: flex;
    justify-content: space-around;
    transition: all .3s;
}
.user-profile-info>li{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 0 15px;
}
.user-profile-info>li:nth-child(2){
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.user-profile-info>li>span{
    font-weight: 300;
    font-size: 15px;
}
.subscribe-button{
    background-color: var(--button-color);
    margin: 0 auto;
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    width: fit-content;
    border-radius: 25px;
    color: white;
    align-items: center;
    gap: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: background-color .3s;
}
.subscribe-button:hover{
    background-color:#0041c3;
}
.subscribe-button>div{
    font-size: 17px;
    font-weight: 700;
}
body{
    overflow: hidden;
}
.modal-project-info{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    z-index: 60;
    justify-content: center;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}
.modal-project-info .load-animation{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    border: 5px solid #888;
    border-radius: 50%;
    border-top: 5px solid var(--button-color);
    left: 50%;
    translate:-50% -50%;
    animation: load 1s linear infinite;
}
@keyframes load{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.modal-project-info>.project-info{
    position: relative;
    margin-top:20px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal-project-info .user-info_inner{
    display: flex;
    gap: 12px;
}
.modal-project-info .user-info_inner>img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.modal-project-info .user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-project-info .project-name{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
.modal-project-info .links{
    display: flex;
    gap: 10px;
    align-items: center;
}
.modal-project-info .links>a{
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-size: 13px;
}
.modal-project-info .links>button{
    background-color: var(--button-color);
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    font-weight: 400;
    border-radius: 30px;
    transition: background-color .3s;
}
.modal-project-info .links>button:hover{
    background-color: #0041c3;
}
.modal-project-info .links>.disabled-button{
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(190, 190, 190);
}
.modal-project-info .links>.disabled-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.modal-project-info .content{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.modal-project-info .image-block img{
    width: 100%;
    object-fit: cover;
}
.modal-project-info .close-modal{
    position: fixed;
    top:15px;
    right:40px;
    width: 35px;
    height:35px;
    background-color:#191919;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 55;
}
.modal-project-info .close-modal>div{
    width: 20px;
    height:20px;
    position: relative;
}
.modal-project-info .close-modal span{
   position: absolute;
   top: 50%;
   translate: -50% -50%;
   width: 15px;
   height: 2px;
   background-color: rgb(171, 171, 171);
}
.modal-project-info .close-modal span:nth-child(1){
    rotate: 45deg;
}
.modal-project-info .close-modal span:nth-child(2){
    rotate: -45deg;
}
.table-project-comments{
    padding: 60px 60px;
    background-color: #FAFAFA;
    display: flex;
    gap: 20px;
}
.table-project-comments .first-column{
    background-color: white;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    height: min-content;
    max-width: 680px;
}
.table-project-comments .first-column .add-comment{
    display: flex;
    gap: 20px;
    min-height: 250px;
    width: 100%;
    padding: 30px;
}
.add-comment .comment-area{
    display: flex;
    flex-direction: column;
    min-width: 550px;
    width: 100%;
    align-items: flex-end;
    gap: 15px;
}
.add-comment .comment-area textarea{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 5px;
    
}
.add-comment>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.add-comment .comment-area>button{
    padding: 10px 15px;
    background-color: white;
    color: black;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    transition:background-color .3s ;
}
.add-comment .comment-area>button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.table-project-comments .second-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 380px;
}
.table-project-comments .second-column>li{
    padding: 30px;
    background-color: white;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    max-width: 380px;
    height: min-content;
}
.owner-panel-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table-project-comments .second-column>li .header{
    text-transform: uppercase;
    color: #707070;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.owner-panel-info .user-info-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.owner-panel-info .user-info-panel .disabled-button{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #707070;
}
.owner-panel-info .user-info-panel .disabled-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.owner-panel-info .user-info-panel>div{
    display: flex;
    padding: 5px;
    gap: 10px;
}
.owner-panel-info .user-info-panel>div>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: filter .3s;
}
.owner-panel-info .user-info-panel>div>img:hover{
    filter:brightness(80%);
}
.owner-panel-info .user-info-panel>div>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.owner-panel-info .user-info-panel>div>div>span{
    font-size: 13px;
    font-weight: 400;
    color: #707070;
}
.owner-panel-info .user-info-panel>button{
    background-color: var(--button-color);
    width: 100%;
    color: white;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 20px;
    transition: background-color .3s;
}
.owner-panel-info .user-info-panel>button:nth-child(2):not(.disabled-button){
    background-color: #0041c3;
}
.owner-panel-info .user-info-panel>button:nth-child(3){
    color: var(--button-color);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}
.owner-panel-info .user-info-panel>button:nth-child(3):hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.table-project-comments .second-column .project-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.table-project-comments .second-column .project-info>.name{
    font-size: 18px;
    padding: 5px 0;
}
.table-project-comments .second-column .project-info>.description{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
.table-project-comments .second-column .project-info>.numbers{
    display: flex;
    font-size: 17px;
    gap: 10px;
}
.table-project-comments .second-column .project-info>.numbers>li{
    display: flex;
    gap: 5px;
    color: #707070;
    font-weight: 300;
    align-items: center;
}
.table-project-comments .second-column .project-info>span{
    font-size: 13px;
    color: black;
    font-weight: 300;
}
.table-project-comments .second-column .project-tags{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.table-project-comments .second-column .project-tags>.tags-panel{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.table-project-comments .second-column .project-tags>.tags-panel a{
    padding: 5px 10px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    transition:  background-color .3s;
}
.table-project-comments .second-column .project-tags>.tags-panel a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.table-project-comments .reg-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 30px;
    width: 100%;
}
.table-project-comments .reg-info>div{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}
.table-project-comments .reg-info>span{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
.table-project-comments .reg-info>button{
    background-color: var(--button-color);
    width: 100%;
    color: white;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 20px;
}
.table-project-comments .comments{
    border-top:1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.table-project-comments .comments>li{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
.comments-item>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.comments-item>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comments-item>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.comments-item>div>div>span{
    color: #707070;
    font-weight: 300;
    font-size: 14px;
}
.comments-item .comment-text{
    font-size: 17px;
    font-weight: 300;
    max-width: 550px;
    overflow: hidden;
}
.table-project-comments .second-column .like-panel{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.table-project-comments .second-column .like-panel .button-panel>button{
    background-color: var(--button-color);
    color: white;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 20px;
    transition: background-color .3s;
    width: 100%;
}
.table-project-comments .second-column .like-panel .button-panel>button:not(.disabled):hover{
    background-color: #0041c3;
}
.table-project-comments .second-column .like-panel .button-panel .disabled{
    background-color: transparent;
    border:1px solid rgba(0, 0, 0, 0.2);
    color: #707070;
}
.table-project-comments .second-column .like-panel .button-panel .disabled:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width:1220px){
    .modal-project-info>.project-info {
        width: 100%;
        padding: 0 10px;
    }
    .add-comment .comment-area {
        min-width: 0px;
    }
}
@media(max-width:1000px){
    .table-project-comments{
        flex-direction:column-reverse;
    }
    .table-project-comments .second-column>li{
       width: 100%;
       max-width: none;
    }
    .table-project-comments .second-column button{
        max-width: 380px;
    }
    .table-project-comments .first-column {
        max-width: none;
    }

}
@media(max-width:800px){
    .projects-blocks_inner{
        justify-content: center;
    }
}
@media(max-width:600px){
    .projects-blocks_inner .project-block .project-image img {
        width: 90vw;
    }
}
@media(max-width:560px){
    .table-project-comments{
        padding: 20px;
    }
    .modal-project-info .close-modal {
        right: 15px;
    }
}
@media(max-width:490px){
    .search-filter-panel{
        position: absolute;
        height: auto;
        top: 65px;
        right: 0;
        padding: 0;
    } 
    .user-profile-block{
        width: 100%;
    }
    .search-input-panel input{
        border-radius: 30px;
        border-right: none;
    }
    .search-panel_inner{
        margin-bottom: 40px;
        position: relative;
        overflow: visible;
    } 
    .table-project-comments .second-column button{
        width: 100%;
    }
    .table-project-comments .second-column{
        min-width: 0px;
    }
}
@media(max-width:440px){
    .projects-blocks_inner .project-block .project-image img {
        width: 100%;
    }
    .sorting-button{
        justify-content: flex-start;
        width: 100%;
    }
    .list-down-filters-panel{
        display: none;
    }
    .list-down-sorting-panel{
        width: 100%;
        justify-content: flex-end;
    }
    .list-down-sorting-panel .listdown-block{
        left: 0;
        width: 100%;
    }
    .add-comment>img {
        display: none;
    }

}