*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
   margin: 0;
   padding: 0;
   font-family:'Montserrat', sans-serif;
   background-color: #f7f7f7;
}
section{
    padding: 80px 0;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    overflow: hidden;
    
}



/*----Header---*/
header{
    position: fixed;
    width: 100%;
    z-index: 50;
}
.header__inner{
    width: 100%;
    height: 104px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: height .3s;
    padding: 0 10px;
}
.header-content{
   width: 50%;
   display: flex;
   justify-content: space-between;
}
.name-header{
    font-weight: 700;
    font-size: 24px;
}
.list-menu{
    display: flex;
    gap: 21px;
}
.list-menu_item{
    display: flex;
    align-items: center;
}
.list-menu-item__inner{
    font-size: 14px;
    font-weight: 600;
    color: #737373;
}
.list-menu-item__inner:hover{
    text-decoration: underline;
}

/*----HeaderEND---*/
.main-block{
   z-index: 10;
}
.main-block-first__inner{
    width: 100%;
    min-height: 795px;
    background-image: url(../Images/cover.png);
    background-size:cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 0 10px;
}
.main-item-first{
    width: 100%;
    padding: 184px 5px 20px 5px;
}
.main-item-first__inner{
    max-width: 504px;
    display: flex;
    flex-direction: column;
    gap:35px;
}
.main-description{
    font-size: 58px;
    font-weight: 800;
    color: #252B42;
}
.main-item-first__inner span{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}
.main-list-button{
    display: flex;
    gap: 10px;
}
.main-list-button_item{
    border:none;
    padding: 15px 36px;
    font-weight: 700;
    font-size: 14px;
    background: #FF7B47;
    border-radius: 37px;
    color: white;
    transition: transform .3s;
}
.main-list-button_item+.main-list-button_item{
    background-color: transparent;
    border: 1px solid #0D5C63;
    color:#0D5C63 ;
}
.main-list-button_item:hover{
    transform: scale(1.05);
}
.block-info{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.block-info-item{
    width: 328px;
    height: 242px;
    background-color:white;
    color: #737373;
}
.block-info-item__inner{
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    gap: 10px;
}
.block-info-item__inner div{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42 ;
}
.block-info-item__inner span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.block-info-item:nth-last-child(1){
    background-color: #0D5C63;
    color: white;
}
.block-info-item:nth-last-child(1) .block-info-item__inner div{
    color:inherit;
}
.void{
    display: flex;
    justify-content: center;
    transform: translateY(-60%);
}
.design-bett-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.desgin-bett-block_first{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.desgin-bett-block_first span{
    max-width: 511px;
    color: #737373;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.desgin-bett-block_first div{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    text-align: center;
}
.design-bett-block_second{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.design-bett-block_second_inner{
    width: 238px;
    height: 209px;
    background-color: white;
}
.bett-block-info{
    padding:30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bett-block-info div{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.bett-block-info span{
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.practice-dev-block_first{
    padding: 45px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.practice-dev-block_first-name{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.practice-dev-block_first span{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.practice-dev-block_second{
    width: 100%;
    min-height: 345px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.practice-dev-block_second-inner{
    max-width: 238px;
    background-color: white;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.practice-dev-block_second-inner-info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.practice-dev-block_second-inner-info div{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
.practice-dev-block_second-inner-info span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.practice-dev-block_second-inner img{
    width: 100%;
}
.most-trusted-block{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.most-trusted-block-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
}
.most-trusted-block-first div{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}
.most-trusted-block-first span{
    max-width: 510px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
}
.most-trusted-block-second{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.most-trusted-block-second-image{
    position: relative;
    padding: 0;
    margin: 0;
    min-width:598px;
    min-height:442px;
}
.most-trusted-block-second-image img{
    height: inherit;
    width: inherit;
}
.liner-grad{
    position: absolute;
    width: 598px;
    height: 442px;
    left: 0;
    top: 0;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}
.button-play{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 80px;
    width: 80px;
    background-color: #0D5C63;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.triangle{
    width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 24px solid white;
	border-bottom: 12px solid transparent;
}
.most-trusted-block-second_inner{
    display: flex;
    flex-direction: column;
    max-width: 335px;
    gap: 30px;
    padding: 0 15px;
}
.most-trusted-block-second_inner-name{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.most-trusted-block-second_inner-name div{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color:#252B42;
}
.most-trusted-block-second_inner-name span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.most-trusted-block-second_inner-info{
    width: 100%;
    display: flex;
    gap: 20px;
}
.most-trusted-block-second_inner-info div div{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}
.most-trusted-block-second_inner-info div span{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}
.partners-block{
    padding: 50px 0;

}
.partners-block__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.subscribe-block{
    width: 100%;
    padding: 0 32px;
    transform: translateY(60px);
}
.subscribe-block__inner{
    padding: 30px 40px;
    background-color: #17213C;
    display: flex;
    justify-content: space-between;
}
.subscribe-block__inner-name{
    max-width: 260px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
.subscribe-input{
    width: 450px;
    height: 58px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.subscribe-input-item{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family:'Montserrat', sans-serif;
    padding: 0 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    
}
.subscribe-input-item:focus{
    outline: none;
}
.subscribe-input label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #737373;
    cursor: text;
}
.subscribe-input button{
    border: none;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    height: inherit;
    background-color:#FF7B47;
    padding: 15px 25px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family:'Montserrat', sans-serif;
}
.subscribe-input button:hover{
    background-color: #ff9469;
}

.back-subscribe{
    background-color: #252B42;
    width: 100%;
    height: 77px;
}
.get-in-block{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.get-in-block__inner{
    width: 100%;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-in-block__inner-item{
    min-width: 327px;
    background-color: white;
}
.get-in-block__inner-item>div{
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.get-in-block__inner-item div span{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
}
.get-in-block__inner-item div div{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:#252B42;
}
.get-in-block__inner-item div a{
    border: 1px solid #FF7B47;
    padding: 10px 20px;
    color: #FF7B47;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
}
.centerChange{
    background-color: #252B42;
    padding: 30px 0;
}
.centerChange div span{
    color: white;
}
.centerChange div div{
    color: white;
}
.centerChange div a{
    color: white;
    border: 1px solid white;
}
.consulting-info-panel{
    width: 100%;
    background-color: white;
}
.consulting-info-panel_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 10px;
    position: relative;
}
.consulting-info-panel-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.consulting-info-panel-name div{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
}
.consulting-info-panel-name span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.consulting-info-panel-but{
    margin: 0 38px;
    padding: 15px 40px;
    background-color: #FF7B47;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.company-info-table-panel{
    width: 100%;
    background-color: #17213C;
}
.company-info-table-panel_inner{
    width: 100%;
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.table-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.column-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.column-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.column-inner a{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
.column-inner a:hover{
    text-decoration: underline;
}
.column-change a{
    display: flex;
    gap: 5px;
    align-items: center;
    max-width: 200px;
}
.footer{
    width: 100%;
    background-color: white;
}
.footer_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    align-items: center;
}
.name-footer{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}
.footer-links{
    display: flex;
    gap: 20px;
}
.close-item{
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.close{
    background-color: transparent;
    border: none;
}
.change-menu{
   
}
/*---------------Adaptive----------------*/


@media(max-width:1045px){
    .header-content{
        width: 100%;
    }
    header{
        background-color: white;
    }
    .void{
        padding: 80px 0;
        transform: translate(0%);
    }
    .block-info{
        justify-content: center;
    }
    .main-item-first__inner{
        max-width: none;
        text-align: center;
    }
    .main-list-button{
        justify-content: center;
    }
}
@media(max-width:935px){
    .most-trusted-block-second{
        flex-direction: column;
        align-items: center;
    }
    .most-trusted-block-second_inner{
        max-width: none;
    }
    .most-trusted-block-second_inner-name{
        text-align: center;
    }
    .most-trusted-block-second_inner-info{
        justify-content: center;
    }
    .partners-block__inner{
        flex-wrap: wrap;
    }
    .centerChange{
        padding: 0;
    }
    .get-in-block__inner{
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media(max-width:755px){
    .main-description{
        font-size: 30px;
    }
    .main-block-first__inner span{
        font-size: 17px;
    }
    .main-block-first__inner{
        min-height: 500px;
    }
    .desgin-bett-block_first div{
        font-size: 30px;
    }
    .practice-dev-block_first-name{
        font-size: 30px;
    }
    .most-trusted-block-first div{
        font-size: 30px;
    }
    .most-trusted-block-second_inner-name div{
        font-size: 30px;
    }
    .subscribe-block__inner{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .subscribe-block__inner-name{
        text-align: center;
    }
    .table-item{
        display: none;
    }
    .table-item:nth-last-child(1){
        display: flex;
    }
}
@media(max-width:535px){
    .block-info-item{
        width: 100%;
    }
    .subscribe-block{
        padding: 0;
    }
    .get-in-block__inner-item{
        width: 100%;
    }
    .consulting-info-panel_inner{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
@media(max-width:405px){
    .design-bett-block_second_inner{
        width: 100%;
    }
    .practice-dev-block_second-inner{
        max-width: none;
    }
    .subscribe-block__inner{
        padding: 20px 10px;
    }
    .subscribe-input{
        width: 100%;
    }
    .footer_inner{
        flex-direction: column;
        gap: 15px;
    }
    .list-menu{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: all .5s;
        background-color: white;
        right: 0;
        width: 0;
        overflow: hidden;
       
    }
    .list-menu-item__inner{
        font-size: 20px;
    }
    .close-item{
       display: block; 
    }
    .name-footer{
        text-align: center;
    }
    
    
}
@media(max-width:365px){
    .main-list-button_item{
        padding: 10px 20px;
    }
    .block-info-item__inner{
        padding: 35px 20px;
    }
}




