
@{
    ViewData["Title"] = "Главная";
}

@section link{
    <link rel="stylesheet" href="~/MainWeb/css/mainpage.css">
}




<section style="padding:0;">
    <div class="about-sect">
        <div class="container"></div>
    </div>
</section>






@section Scripts{

}

