section{
    padding: 20px 0;
}
body{
    background-color: var(--main-back-color);   
}
.menu-profile_inner{
    width: 100%;
    padding: 0px 10px 15px 10px;
    display: flex;
    justify-content: center;
}
.menu-profile{
    display: flex;
    gap: 17px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}


.project-count::before{
    content: attr(data-count);
    position: absolute;
    top: -11px;
    right: -19px;
    font-size: 15px;
    background-color:var(--button-color);
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-profile-item_inner{
    display: flex;
    align-items: center;
    padding:5px;
    gap: 8px;
    border-radius: 5px;
    transition: all.3s;
    color: var(--main-text-color); 
}
.menu-profile-item_inner button{
    color: inherit;
}
.menu-profile-item_inner:hover{
    color: var(--button-color);
}
.menu-profile-item_inner:nth-last-child(1) button i{
    font-size: 18px;
}

.menu-profile-item{
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Raleway',sans-serif;
    border-radius: 5px;
    position: relative;
    transition: all .1s;
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
}
.menu-profile-item i{
    transition: all .1s;
    font-size: 20px;
}

.active-profile-item{
    color:var(--button-color);
}

.profile-panel{
    display: flex;
    gap: 30px;
}
.avatar-profile-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-right: 30px;
    min-width: 270px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.avatar-profile-block input{
   display: none;
}

.avatar-image{
    border-radius: 50%;
    object-position: center center;
    object-fit: cover;
    width: 225px;
    height: 225px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.7);
    background-color: white;
}
.profile-email-user{
    font-weight: 300;
    font-size:17px;
    text-align: center;
    color: var(--main-text-color);
}

.profile-user-name{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 'Raleway',sans-serif;
    text-align: center;
    color: var(--main-text-color);
}

.like-avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    right: 0px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.7);
    transform: translateY(-60px);
    transition: all .3s;
    display: none;
}
.like-avatar i{
    font-size: 20px;
    color: black;
}
.like-avatar:hover i{
    color: red;
}
.like-avatar:hover{
    transform: translateY(-60px) scale(1.1);
    box-shadow: 1px 4px 20px 0px rgba(223, 70, 70, 0.816);
}
.user-description-panel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.user-head-description{
    color: var(--main-text-color);
}

.info-user-panel{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 5px;
    /*outline: 1px solid rgba(0,87,255,0.4);*/
    border-radius: 5px;
    margin: 10px 0;
}
.avatar-profile-block div:nth-child(1){
    position: relative;
}
.avatar-profile-block div:nth-child(1) input{
    display: none;
}
.avatar-profile-block div:nth-child(2){
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    position: relative;
    gap: 10px;
}
.avatar-profile-block div:nth-child(2) .subscribe-button{
    background-color: var(--button-color);
    width: 100%;
    color: white;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 20px;
    transition: background-color .3s;
}
.avatar-profile-block div:nth-child(2) .disabled-button{
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(190, 190, 190);
}
.avatar-profile-block div:nth-child(2) .message-button{
    width: 100%;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 20px;
    color: var(--button-color);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}
.avatar-profile-block div:nth-child(2) .subscribe-button:not(.disabled-button):hover{
    background-color: #0041c3;
}

#change-avatar{
    position: absolute;
    bottom: 5%;
    left: 73%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
}
#change-avatar:hover{
    transform: scale(1.06);
    box-shadow: var(--neon-shadow);
}
.data-registration{
    color: rgb(202, 202, 202);
    font-size: 15px;
    font-family: Segoe Ui;
    letter-spacing: 1px;
    text-align: center;
}
.user-info-description-panel_inner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.header-description{
    font-size: 23px;
    color: var(--main-text-color);
    font-family: 'RaleWay',sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-description{
    font-family: Segoe Ui;
    color: var(--main-text-color);
    font-size: 15px;
}
.add-description{
    background-color:dodgerblue;
    color: white;
    font-family: 'RaleWay',sans-serif;
    font-weight: 500;
    padding: 10px 35px;
    width: fit-content;
    font-size: 17px;
    border-radius: 5px;
    transition: all .3s;
}
.add-description:hover{
    box-shadow: 1px 1px 20px 0px rgba(70, 113, 223, 0.716);
    transform: scale(1.02);
}
.description-profile{
    color: var(--main-text-color);
    font-family: 'RaleWay',sans-serif;
    
    margin: 10px 0;
    padding: 15px 0;
    border-radius:5px;
}
.followers-count{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
}

.followers-count>span{
    font-size: 17px;
    font-weight: 300;
    color: var(--main-text-color);
}
.gener-description{
    border: none;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.profile-block{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 800px;
}
.profile-info-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.profile-info-block_inner{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity .5s;
}
.add-project-block-profile_inner{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity .5s;
}

.favorites-block-profile_inner{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 10px;
}
.settings-block-profile_inner{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .5s;
}
.projects-block-profile_inner{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.null-elements-text{
    color: rgb(153, 153, 153);
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.unput-project-zip-block{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:5px 0;
}
.stage_inner-result{
    display: flex;
    flex-direction: column;
}
.zip-format-error{
    text-align: center;
    color: white;
    font-size: 20px;
}
.profile-links-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header-profile-links{
    color: var(--main-text-color);
    letter-spacing: 1px;
    font-size: 15px;
}
.project-block{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.project-block .project-image:hover{
    transform: scale(1.02);
}
.project-block .project-image img{
    border-radius: 4px;
    object-fit: cover;
    width: 400px;
    height: 250px;
    object-position: center center;
}
.project-block .project-image{
    position: relative;
    transition: all .3s;
}
.project-block .project-image>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3px);
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 37%, rgba(0,0,0,0.8) 100%);
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.project-block .project-image>div a{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.project-block .project-image>div a:hover{
    text-decoration: underline;
}
.project-block .project-info{
    display: flex;
    justify-content: space-between;
}
.project-name-user{
    display: flex;
    gap: 8px;
    align-items: center;
}
.project-name-user img{
    object-fit:cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.project-name-user>a{
    font-size: 15px;
    color:white;
    text-align: left;
}
.project-name-user>a:hover{
    text-decoration: underline;
}
.project-block .project-info>ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
.project-block .project-info>ul li:nth-child(1) img{
    width: 17px;
    height: 17px;
}
.project-block .project-info>ul li{
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 15px;
    color: #888;
}
.setting-project-block_inner{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    flex-direction: column;
}



@media(max-width:800px){
    .profile-panel{
        flex-direction: column;
    }
    .avatar-profile-block{
       flex-direction: row;
       align-items: center;
       padding: 0;
       border: none;   
       gap: 20px;
    }
    .like-avatar{
        top: 190px;
        left: -70px;
    }
    .menu-profile{
        overflow-x: scroll;
    }
    .count-statist-profile_inner{
        flex-wrap: wrap;
    }
    .avatar-profile-block div:nth-child(2){
        width: 100%;
    }
    .favorites-block-profile_inner{
        justify-content: center;
    }
}

@media(max-width:480px){
    .avatar-image{
        width: 150px;
        height: 150px;
    }
    .like-avatar{
        width: 40px;
        height: 40px;
        top: 170px;
    }
    .statist-profile-item{
        padding: 10px 0px;
        width: 100%;
    }
    .count-statist-profile_inner{
        justify-content: center;
        width: 100%;
    }
    .gener-description{
        height: 1000px;
    }
    .favorites-block-profile_inner{
        padding: 0;
    }
}
@media(max-width:440px){
    .project-block .project-image img {
        width: 100%;
    }
}
@media(max-width:420px){
    .projects-block-profile_inner{
        padding: 0;
    }
}
@media(max-width:400px){
    .avatar-profile-block{
        flex-direction: column;
        align-items: center;
    }
    .info-user-panel{
        width:100%;
    }
    .like-avatar{
        display: none;
    }
    .avatar-profile-block:nth-child(2) div{
        width: 100%;
    }
    .add-project-block-profile_inner{
        padding: 0 10px;
    }
    
}