<div class="panel-delete">
    <div class="header">Подтверждение действия</div>
    <span>Вы действительно хотите удалить этот сайт?</span>
    <div class="panel-button">
        <button type="button" class="cancel" id="cancel-bt">Отменить</button>
        <button type="button" class="confirm" id="confirm-delete-bt">Подтвердить</button>
    </div>
</div>