@using WebApplicationList.Models.MainSiteModels.ViewModels;
@model IEnumerable<ProjectViewModel>;

<ul class="project-forsetting-panel">
    <li class="project-item">
        <span>ProjectName</span>
        <div class="project-item_button-panel">
            <button type="button" class="folder-manager-project">
                <i class="icon-folder-svgrepo-com-2"></i>
            </button>
            <button type="button" class="delete-project">
                <img src="~/MainWeb/Images/delete-ic.svg" width="25" height="25">
            </button>
        </div>
    </li>
</ul>

