
<div class="first-stage_inner-items">
    <div class="first-stage_first_stage">
        <div class="number-stage_inner">
            <div class="number-stage">
                <div class="number-item">1</div>
                <div class="stage-info-header">Создайте архив</div>
            </div>
            <div class="stage-info_inner">
                <span>Упакуйте содержимое проекта в zip-архив (не более 50МБ)</span>
                <span>Внимание: архивировать необходимо файлы содержимого проекта, а не папку содержащую их</span>
                <div class="gif-tutrial-block">
                    <img src="~/MainWeb/Images/tutorial.gif" alt="gif">
                </div>
            </div>
        </div>
    </div>
    <div class="first-stage_first_stage">
        <div class="number-stage">
            <div class="number-item">2</div>
            <input type="file" accept=".zip" class="input-zip-project" id="zipProjectVal">
            <label for="zipProjectVal" class="upload-zip-style" id="upload-project"><i class="icon-uploadgrepo-com"></i>Загрузить</label>
        </div>
    </div>
</div>