header{
    width: 100%;
    background-color: white;
    
    position: fixed;
    z-index: 50;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    background-repeat: repeat-y;
    overflow-x: hidden;
    position: relative;
}
.container{
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}
.content-gener{
    padding-top: 50px;
}
.notification-window{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    font-size: 18px;
    transition: all .5s;
}

/*--------Header---------*/
.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.logotype{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}
.sign-navigation{
    display: flex;
    gap: 10px;
    align-items:center;
}
.sign-navigantion-item button{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 20px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    transition: background-color .3s;
}
.register{
    background-color: var(--button-color);
    color: var(--main-text-color);
}
.register:hover{
    background-color: #003ECB;
}
.sign-in:hover{
    background-color: #F1F1F1;
}
.header-profile-navigation-panel{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-profile-navigation-panel .nav-item{
    display: flex;
}
.user-add-project{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 15px;
    transition: all .3s;
}
.user-add-project:hover{
    background-color: #F1F1F1;
}

.user-avatar img{
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    width: 35px;
    height: 35px;
}
.main-avatar-menu_inner{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    z-index: 55;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.avatar-menu_container{
   margin: 70px 0;
   max-width: 1700px;
   height: 100vh;
   width: 100%;
   position: relative;
}
.avatar-menu{
    position: absolute;
    top:10px;
    right:0;
    height: 430px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
}
.avatar-menu_inner{

}
/*-----EndHeader-----*/


/*-----Adaptive------*/

